<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Actual Weather</title>

        <script type="text/javascript" th:src="@{SelectedStateHelper.js}"></script>
    </head>
    <body>
        <h1>Actual weather for cities of selected state</h1>
        <p>Please select state:</p>
        <ul>
            <input type="radio"
                   th:each="state : ${states}"
                   th:text="${state.getName()}"
                   th:id="${state.getId()}"
                   name="state"
                   onclick="selectState(this.id)"/>
            <br />
        </ul>
    </body>
</html>